/* @import url(../vendor/slick/slick.min.css); */
@import url(../vendor/slick/slick-theme.min.css);
@import url(../vendor/icons/feather.css);
@import url(../vendor/bootstrap/css/bootstrap.min.css);
@import url(style.css);
@import url(../vendor/sidebar/demo.css);

.slick-prev {
  left: -10px;
}
.slick-next {
  right: -10px;
}
.slick-prev.swiper-button-disabled,
.slick-next.swiper-button-disabled {
  pointer-events: none;
}
@media (max-width: 768px) {
  .category .slick-prev,
  .category .slick-next {
    display: none;
  }
}
.modal-open.fixed-bottom-bar .osahan-menu-fotter.fixed-bottom {
  padding-right: 4px !important;
}
.btn-cart,
.btn-logout {
  background: transparent;
  border: none;
  padding: 0;
}
.btn-cart a i {
  color: #e23744;
}
.btn-cart a:hover i {
  color: #0091bc;
}
.section-header .hc-nav-trigger {
  top: 0;
  bottom: 0;
}
